<head>
  <title>Forum</title>
</head>

<body>
  <div id="main-pane">
    {{> posty}}
  </div>

  <div id="side-pane">
    {{> tematy}}
  </div>
</body>

<template name="tematy">
  <h3>Tematy</h3>
  {{#if loading}}
    <div id="tematy">Loading...</div>
  {{else}}
    <div id="tematy">
      {{#each tematy}}
        <div class="list {{selected}}">
          {{#if editing}}
            <div class="edit">
              <input class="list-name-input" id="list-name-input" type="text" value="{{name}}" />
            </div>
          {{else}}
            <div class="display">
              <a class="list-name {{name_class}}" href="/{{_id}}">
                {{name}}
              </a>
            </div>
          {{/if}}
        </div>
      {{/each}}
    </div>
    <div id="createList">
      <input type="text" id="new-list" placeholder="Nowy temat" />
    </div>
  {{/if}}
</template>

<template name="posty">
  {{#if any_list_selected}}
    <div id="items-view">
      {{#if loading}}
        Loading...
      {{else}}
        <h3> Posty </h3>
        <ul id="item-list">
          {{#each posty}}
            {{> post_item}}
          {{/each}}
        </ul>
        <div id="new-post-box">
          <input type="text" id="new-post" placeholder="Dodaj post" />
        </div>
      {{/if}}
    </div>
  {{/if}}
</template>

<template name="post_item">
  <li class="post {{done_class}}">
    {{#if editing}}
      <div class="edit">
        <input id="post-input" type="text" value="{{text}}" />
      </div>
    {{else}}
      <div class="destroy"></div>
      <div class="display">
        
        <div class="post-text">{{autor}}: </div>
        <div class="post-text">{{text}}</div>

      </div>
    {{/if}}
  </li>
</template>

<template name="tag_filter">
  <div id="tag-filter" class="tag-list">
    <div class="label">Show:</div>
    {{#each tags}}
      <div class="tag {{selected}}">
        {{tag_text}} <span class="count">({{count}})</span>
      </div>
    {{/each}}
  </div>
</template>
